aws_region   = "us-east-1"
project_name = "my-microservices"
environment  = "dev"

eks_cluster_version = "1.28"

db_instance_class = "db.t3.small"
db_name           = "microservices"
db_username       = "dbadmin"
db_password       = "ChangeMe123!"  # CHANGE THIS!
